
<div class="text-center flex flex-col items-center">
    <h1 class="text-2xl font-bold">Welcome, <%= @user.name %>!</h1>

    <h2 class="text-2xl">Here's a random pokemon:</h2>
    <hr>
    <p class="text-xl capitalize">
        <%= @pokemon['name'] %>
    </p>
    <img width="250" height="250" src=<%= @pokemon['sprites']['front_default'] %> alt="">
</div>